body {
	text-align: center;
	background:url("../img/Treetrunks.png");
	background-position: right bottom;
	background-repeat: no-repeat;
}


div {
	border: solid 1px black;
	text-align: center;
	font-size: 40px;
	margin-left: 37%;
	height: 80px;
	width: 80px;
	display: table-cell;
}

#bomb-it{
	margin-left: 37%;
}

button {
	background-color: #000;
	color: #fff;
	font-size: 20px;
	margin-top: 10px;
	padding: 1%;
	border: none;
	border-radius: 5px;
}

img {
	width: 350px;
	margin: 2% 35%;
}

.number {
	margin: 0;
	color: white;
}
.numberShow {
	color:black;
}